# Compiled source #
###################
*.pyc
__pycache__/

# Logs and databases #
######################
log/

# Backup files #
################
*.py~
.gitignore~
*.md~

# Obsolete files #
##################
obs/
